In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
dtype = {
    "LocationID": "Int64",
    "Borough": "string",
    "Zone": "string",
    "service_zone": "string"
}

In [3]:
df = pd.read_csv('taxi_zone_lookup.csv', dtype=dtype)

In [4]:
len(df)

265

In [5]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
engine = create_engine('postgresql://postgres:postgres@db:5432/ny_taxi')

In [7]:
df.to_sql(
    name="dim_taxi_zone",
    con=engine,
    if_exists="replace",
    index=False
)

print("Loaded ", len(df), " rows.")

Loaded  265  rows.